body {
    background-image: url(./img/8.gif);
    color: black;
}

.all {
    width: 980px;
    height: 1386px;
    background-color: white;
    margin: 0 auto;
    padding: 0 44px;
    box-sizing: border-box;
}

.a1 {
    background-color: #e95959;
    height: 61px;
    width: 110px;
    position: relative;
}

.a1 p {
    color: #ffffff;
    font-size: 12px;
    font-family: "SimHei";
    bottom: 0;
    margin-left: 4px;
    position: absolute;
}

.time {
    font-size: 12px;
    color: #d45d5c;
    right: 0;
    margin-top: -18px;
    position: absolute;
}

header {
    position: relative;
    margin-bottom: 30px;
}

.underline1 {
    background-color: grey;
    height: 2px;
    width: 892px;
    margin-top: 0;
    border: none;
}

.s1 {
    position: relative;
}

.s1 img {
    height: 301px;
    width: 641px;
}

.left-tu {
    position: absolute;
    height: 301px;
    width: 191px;
    background: rgba(201, 61, 243, 0.3);
    top: 0;
}

.right-tu {
    position: absolute;
    height: 301px;
    width: 191px;
    background: rgba(201, 61, 243, 0.3);
    margin-left: 450px;
    top: 0;
}

.right1 {
    position: absolute;
    top: 0;
    right: 0;
}

.underline2 {
    height: 2px;
    width: 203px;
    background-color: #d762f5;
    border: none;
}

.a3 {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    text-decoration: underline;
    line-height: 40px;
    margin: 0;
}

.a4 {
    font-size: 12px;
    color: #676767;
    font-family: "KaiTi";
    line-height: 10px;
    margin: 0;
}

.number {
    font-size: 116px;
    color: #75b86b;
    font-family: "Microsoft YaHei";
    text-decoration: underline;
    font-style: italic;
    margin: 0;
    position: relative;
    top: -10px;
}

.n1 {
    font-size: 55px;
    color: #cc8091;
    font-family: "Microsoft YaHei";
    margin: 0;
    position: relative;
    top: -18px;
}

.n2 {
    font-size: 21px;
    color: #cc8091;
    font-family: "Microsoft YaHei";
    position: relative;
    top: -75px;
    right: -60px;
    margin: 0;
}

.n3 {
    font-size: 12px;
    color: #cc8091;
    font-family: "Microsoft YaHei";
    position: relative;
    top: -75px;
    right: -60px;
    margin: 0;
}

.s2 {
    position: relative;
}

.what {
    width: 200px;
}

.what h2 {
    font-size: 16px;
    color: #418c59;
    text-decoration: underline;
    font-weight: bolder;
    font-family: "Microsoft YaHei";
}

.what p {
    font-size: 12px;
    color: #767777;
    line-height: 16px;
    font-family: "SimSun";
}

.when {
    width: 200px;
    margin-left: 220px;
    margin-top: -175px;
}

.when h2 {
    font-size: 16px;
    color: #d2994f;
    text-decoration: underline;
    font-weight: bolder;
    font-family: "Microsoft YaHei";
}

.when p {
    font-size: 12px;
    color: #767777;
    line-height: 16px;
    font-family: "SimSun";
}

.how {
    width: 200px;
    margin-left: 440px;
    margin-top: -160px;
}

.how h2 {
    font-size: 16px;
    color: #cc7680;
    text-decoration: underline;
    font-weight: bolder;
    font-family: "Microsoft YaHei";
}

.how p {
    font-size: 12px;
    color: #767777;
    line-height: 16px;
    font-family: "SimSun";
}

.else {
    position: absolute;
    top: 135px;
    right: 260px;
}

.else p {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    line-height: 16px;
    opacity: 70%;
}

.else span {
    font-size: 12px;
    line-height: 16px;
    font-family: "Microsoft YaHei";
    color: #cd4a48;
    opacity: 70%;
    font-style: italic;
}

.s3 {
    position: relative;
    float: left;
    width: 430;
}

.b {
    top: 70px;
    width: 415px;
    height: 180px;
    position: relative;
    text-align: left;
}

.b span {
    font-size: 72px;
    color: #f5e327;
    font-family: "SimHei";
    font-style: italic;
    font-weight: bolder;
    margin-right: 16px;
    text-align: left;
}

.b1,
.b2 {
    font-size: 42px;
    color: #11456b;
    font-family: "SimHei";
    font-weight: bolder;
    line-height: 16px;
    text-align: left;
    left: 20px;
    position: relative;
    margin: 20px;
}

.b3 {
    font-size: 33px;
    color: #11456b;
    font-family: "SimHei";
    font-weight: bolder;
    position: relative;
    margin: 0;
    top: 0;
    left: 40px;
    text-align: left;
}

.underline3 {
    width: 415px;
    height: 2px;
    background-color: #11456b;
    border: none;
    margin-top: 10px;
}

.b4 {
    position: relative;
    width: 415px;
    top: 20px;
}

.b4 p {
    font-size: 12px;
    color: #767777;
    line-height: 16px;
    font-family: "SimSun";
}

.b4 span {
    font-size: 70px;
    color: #f5e327;
    float: left;
    padding: 20px 3px 30px 0;
}

.b4 img {
    float: right;
    padding: 10px;
    width: 200px;
    height: 240px;
}

.s4 {
    float: right;
    position: relative;
}

.s4 img {
    height: 275px;
    width: 458px;
    float: right;
    position: absolute;
    top: 660px;
    right: 300px;
}

.dw {
    position: relative;
    height: 600px;
    width: 460px;
    left: 320px;
    top: -580px;
}

.kuai {
    height: 61px;
    width: 458px;
    background-color: rgb(220, 70, 240);
    position: relative;
    float: right;
    top: 874px;
    right: 300px;
    opacity: 0.5;
}

.b5 {
    height: 44px;
    border-left: 3px solid #72b167;
    position: relative;
    float: right;
    top: 805px;
    right: 550px;
}

.b6 {
    font-size: 26px;
    color: #ffffff;
    font-family: "Microsoft YaHei";
    position: relative;
    right: -25px;
    top: 5px
}

.b7 {
    font-size: 12px;
    color: #72b16a;
    font-style: italic;
    font-family: "Microsoft YaHei";
    position: relative;
    right: -55px;
    top: 10px;
}

.right3 {
    width: 459px;
    height: 318px;
    position: absolute;
    float: right;
    background-color: rgb(201, 52, 247);
    top: 960px;
    right: 300px;
}

.right3 img {
    width: 10px;
    height: 10px;
    top: 5px;
    right: 465px;
}

.b8 {
    font-size: 16px;
    color: #5a5b5b;
    font-family: "SimSun";
    line-height: 20px;
}

.b9 {
    font-size: 12px;
    font-family: "SimSun";
    color: #5a5b5b;
    font-style: italic;
    line-height: 20px;
}

.right4 {
    height: 160px;
    width: 260px;
    background-color: rgb(226, 226, 46);
    position: relative;
    float: left;
    top: 48px;
}

.b10 {
    font-size: 110px;
    color: #ffffff;
    font-family: "Microsoft YaHei";
}

.b11 {
    height: 86px;
    border-left: 2px solid #ffffff;
    position: absolute;
    top: 30px;
    right: 100px;
}

.b12 {
    font-size: 21px;
    color: #ffffff;
    font-family: "SimHei";
    line-height: 24px;
    font-style: italic;
    right: -40px;
    top: -20px;
    position: absolute;
}

.b13 {
    font-size: 12px;
    color: #ffffff;
    font-family: "SimHei";
    position: relative;
    right: -10px;
    top: 50px;
}

.b14 {
    font-size: 14px;
    color: #5a5b5b;
    font-family: "SimHei";
    font-style: italic;
    line-height: 16px;
    position: absolute;
    top: 170px;
    right: 1px;
    width: 180px;
    text-indent: 2em;
}

blockquote::before {
    content: "\201c";
    font-size: 72px;
    color: yellow;
    font-family: "SimHei";
    position: absolute;
    top: 165px;
    right: 150px;
}

blockquote::after {
    content: "\201d";
    font-size: 72px;
    color: yellow;
    font-family: "SimHei";
    position: absolute;
    top: 260px;
    right: 40px;
}

.udnerline4 {
    width: 892px;
    background-color: #938e8c;
    height: 1px;
    top: 70px;
    border: none;
    position: relative;
}

.end {
    font-size: 12px;
    color: #d45d5c;
    font-family: "SimHei";
    position: relative;
    float: right;
    top: 60px;
}